@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.listSearch {
  @include ms-Grid;

  .row {
    @include ms-Grid-row;
  }

  .column {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-lg12;

    .rowTopInformation {
      @include ms-Grid-row;

      .ColGeneralFilter {
        margin-top: 5px;
        @include ms-Grid-col;
        @include ms-lg10;
        @include ms-sm12;
      }
      .ColClearAll{
        margin-top: 5px;
        @include ms-Grid-col;
        @include ms-lg2;
        @include ms-sm12;

        .btn{
          width :100%;
        }
      }
    }

    .rowData {
      @include ms-Grid-row;

      .colData{
        @include ms-Grid-col;
        @include ms-lg12;
        @include ms-sm12;
        padding-top: 16px;

        .searchListData{
            padding-top: 0px;
        }
      }

    }
  }


}
